@import 'tailwindcss';

@theme {
	--color-asphalt: #0a0a0a;
	--color-construction-yellow: #ffcc00;
	--color-danger-orange: #ff5500;
}

@layer base {
	body {
		@apply bg-[#0a0a0a] text-white antialiased overflow-x-hidden selection:bg-[#ffcc00] selection:text-black;
	}
}

@layer utilities {
	.shadow-brutal {
		box-shadow: 8px 8px 0px 0px #ffcc00;
	}
	.shadow-brutal-hover {
		box-shadow: 4px 4px 0px 0px #ffcc00;
	}

	.bg-construction-tape {
		background-image: repeating-linear-gradient(-45deg, #ffcc00, #ffcc00 20px, #000000 20px, #000000 40px);
	}
}
